@font-face {
  font-family: 'SFProDisplay';
  src: local('SFProDisplay'),
  url('./BLL/fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'SFProDisplay';
  src: local('SFProDisplay'),
  url('./BLL/fonts/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
}